In [2]:
import pandas as pd
import datasets
# import eval_utils
import numpy as np
import datetime

/opt/homebrew/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [61]:

file_path = 'rossmann-store-sales/train.csv'
column_names = pd.read_csv(file_path, nrows=1).columns.tolist()
print(f"The column names are : {column_names}")

column_data_types =  {col: np.int64 if col != 'Date' else 'object' for col in column_names}

df = pd.read_csv(file_path, low_memory=False)

letter_to_number = {'a': 1, 'b': 2, 'c': 3, '0': 0}
df['StateHoliday'].replace(letter_to_number, inplace=True)

df = df.astype(column_data_types)
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year.values
df['Month'] = df['Date'].dt.month.values
df['Day'] = df['Date'].dt.day.values
df.drop(['Date'], axis=1, inplace=True)

for col in df.columns:
    df[col] = df[col].astype('category').cat.as_ordered()

train_data_y = pd.DataFrame(df['Sales'])
train_data_x = df.drop(['Sales'], axis=1)

df.head(10)

# train_data_x.head(10)
# train_data_y.head(10)

##############################################################################################################
# print(len(df))
# print(df['Promo'].unique())
# print(df['StateHoliday'].unique())

# df.dropna(inplace=True)
# find nan rows
# print(df.isnull().sum())
# print(df.dtypes)

The column names are : ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday']

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day
0,1,5,5263,555,1,1,0,1,2015,7,31
1,2,5,6064,625,1,1,0,1,2015,7,31
2,3,5,8314,821,1,1,0,1,2015,7,31
3,4,5,13995,1498,1,1,0,1,2015,7,31
4,5,5,4822,559,1,1,0,1,2015,7,31
5,6,5,5651,589,1,1,0,1,2015,7,31
6,7,5,15344,1414,1,1,0,1,2015,7,31
7,8,5,8492,833,1,1,0,1,2015,7,31
8,9,5,8565,687,1,1,0,1,2015,7,31
9,10,5,7185,681,1,1,0,1,2015,7,31