In [2]:
import pandas as pd
import datasets
# import eval_utils
import numpy as np
import datetime

/opt/homebrew/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [51]:

file_path = 'rossmann-store-sales/train.csv'
column_names = pd.read_csv(file_path, nrows=1).columns.tolist()
print(f"The column names are : {column_names}")

column_data_types =  {col: np.int64 if col != 'Date' else 'object' for col in column_names}

df = pd.read_csv(file_path, low_memory=False)
letter_to_number = {'a': 1, 'b': 2, 'c': 3, '0': 0}
df['StateHoliday'].replace(letter_to_number, inplace=True)
df = df.astype(column_data_types)
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year.values
df['Month'] = df['Date'].dt.month.values
df['Day'] = df['Date'].dt.day.values
df.drop(['Date'], axis=1, inplace=True)


train_data_y = pd.DataFrame(df['Sales'])
train_data_x = df.drop(['Sales'], axis=1)

df.head(10)

# train_data_x.head(10)
# train_data_y.head(10)

##############################################################################################################
# print(df['Promo'].unique())
# print(df['StateHoliday'].unique())

# df.dropna(inplace=True)
# find nan rows
# print(df.isnull().sum())
# print(df.dtypes)

The column names are : ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday']

   Sales
0   5263
1   6064
2   8314
3  13995
4   4822
5   5651
6  15344
7   8492
8   8565
9   7185